# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# SQLite database
*.sqlite3

# Pytest cache
.pytest_cache/

# Flask instance folder
instance/

# Log files
*.log

# Misc
*.DS_Store
*.egg-info/

# Local Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Terraform lock file (optional, but typically ignored)
.terraform.lock.hcl